%% -*- mode: Erlang -*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}},
	{erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}},
	{ranch, ".*", {git, "git://github.com/paulperegud/ranch.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
       ]}.
